/*
*
*  Custom LESS Stack
*  by Snailface 		<http://snailface.com/>
*	
*/



//
// Add your own LESS/CSS here to flavour the framework to your liking
//

p {padding: 10px;} 

// KendoUI grid fix - creates lag though

#grid a, .kendofix a, .k-icon a, .k-window-actions a, {
text-decoration: default;
color: default;
border-bottom: none;
}

//bottom grid nav full width
.k-pager-wrap, .k-grid-pager {
width: 100% - 0.425;
}

//grid auto resize width 100%
.k-grid, #k-grid  {
width: 100%;
overflow: hidden;
}

.wrapperfull div {
width: 100%;
clear:both;
}


//lofiresistance

element.style {
    display: block;
}
.ym-hlist ul li {
    float: left;
    font-size: 1em;
    line-height: 1em;
    list-style-type: none;
    margin: 0 0.25em 0 0;
    padding: 0;
}
.ym-wrapper {
    text-align: left;
}
nav {
    font-family: 'LetterGothicStdMedium',Arial,Helvetica,sans-serif;
}
#intro, #overview, nav, #main {
    color: rgb(51, 51, 51);
    opacity: 0.9;
}


.ym-searchform {
    display: inline;
    float: right;
    line-height: 2em;
    padding: 0.5em 1.5em;
}

.ym-searchform .ym-searchfield {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    line-height: 1em;
    outline: medium none;
    padding: 0.25em;
    width: 12em;
}

.ym-searchbutton {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.3571em;
    padding: 0.25em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.ym-hlist ul {
    display: inline;
    float: left;
    margin: 0;
    padding: 0.5em 1.5em;
}
ul {
    list-style-type: disc;
}
ul, ol, dl {
    font-size: 1em;
    line-height: 1.5em;
}

 .ym-hlist ul {
    display: inline;
    float: left;
    margin: 0;
    padding: 0.5em 1.5em;
}

nav .ym-hlist ul {
    padding-bottom: 10px;
    padding-right: 10px;
}

.ym-wrapper {
    text-align: left;
}

#intro, #overview, nav, #main {
    color: rgb(51, 51, 51);
    opacity: 0.9;
}

.ym-wrapper {
    text-align: left;
}

nav {
    font-family: 'LetterGothicStdMedium',Arial,Helvetica,sans-serif;
}


#intro, #overview, nav, #main {
    color: rgb(51, 51, 51);
    opacity: 0.9;
}


.ym-hlist ul li.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: #FFFFFF;
}
.ym-hlist ul li {
    display: inline;
    float: left;
    font-size: 1em;
    line-height: 1em;
    list-style-type: none;
    margin: 0 0.25em 0 0;
    padding: 0;
}

	.fix {
		position:fixed;
		top:0;
		left:0;
		z-index: 10000;
		width: 100%;
		-webkit-box-shadow: 0 0 12px 6px rgba(0,0,0,.5);
		-moz-box-shadow: 0 0 12px 6px rgba(0,0,0,.5);
		box-shadow: 0 0 12px 6px rgba(0,0,0,.5);
	}


nav .ym-wbox {
   padding: 0 48px; 
}
html * {
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
}

	nav {
		font-family: 'LetterGothicStdMedium', Arial, Helvetica, sans-serif;
		border-top: 1px #000 solid;
		background: #070707;
		height: 50px;
	}

	nav .ym-wbox { padding: 0 48px; }

	nav .ym-hlist {
		background: transparent;
		padding: 0;
		height: 50px;
	}
	

	nav .hlist li a {
		color: #aaa;
		font-variant:small-caps;
		font-weight:normal;

	}

	nav .ym-hlist a, nav .ym-hlist li.active a,
	nav .ym-hlist li a:hover,
	nav .ym-hlist li a:focus {
		color: #FFF;
	}
  
//Account Dropdown Navagation Add-on


.navdropdown {
    width: 175px;
    color: #555;
    position: relative;
    height: 2em;
    text-align:lest;
    z-index:9998;
}
.navsubmenu
{
    background: #fff;
    position: absolute;
    top: -12px;
    left: -20px;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.navdropdown  li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.navdropdown li a:hover{
    background: @primary;
    color: #FFFFFF;
    text-decoration: none;
    
}
a.account {
    font-size: 14px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    
    padding: 11px 0 0 20px;
    height: 28px;
    min-width: 121px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    background: url(../../assets/images/arrow.png) 116px 17px no-repeat;
    cursor:pointer;
}
div.email {
    font-size: 14px;
    line-height: 16px;
    color: #555;
    display:block;
    z-index:9999;
    padding: 11px 0 0 20px;
    height: 28px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    cursor:pointer;
}
.root
{
    list-style:none;
    margin:0px;
    padding:0px;
    font-size: 12px;
    padding: 11px 0 0 0px;
    border-top:1px solid #dedede;
}










	