/*
*
*  Custom LESS Stack
*  by Snailface 		<http://snailface.com/>
*	
*/



//
// Add your own LESS/CSS here to flavour the framework to your liking
//

p {padding: 10px;} 

// KendoUI grid fix - creates lag though

#grid a, .kendofix a, .k-icon a, .k-window-actions a, {
text-decoration: default;
color: default;
border-bottom: none;
}

//bottom grid nav full width
.k-pager-wrap, .k-grid-pager {
width: 100% - 0.425;
}

//grid auto resize width 100%
.k-grid, #k-grid  {
width: 100%;
overflow: hidden;
}

.wrapperfull div {
width: 100%;
clear:both;
}